@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@mixin title {
	padding-top: 5px;
	font-family: 'Abhaya Libre', "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
}